* {box-sizing: border-box;}
/* Fonts from Nvidia Website */
@font-face{font-family:"GeForce-alt";src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce-bold-alt-webfont.eot");src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce-bold-alt-webfont.eot?#iefix") format("embedded-opentype"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce-bold-alt-webfont.woff2") format("woff2"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce-bold-alt-webfont.woff") format("woff");font-style:normal;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
@font-face{font-family:"GeForce-alt";src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce-light-alt-webfont.eot");src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce-light-alt-webfont.eot?#iefix") format("embedded-opentype"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce-light-alt-webfont.woff2") format("woff2"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce-light-alt-webfont.woff") format("woff");font-style:normal;font-weight:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
@font-face{font-family:"GeForce";src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce_light-webfont.eot");src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce_light-webfont.eot?#iefix") format("embedded-opentype"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce_light-webfont.woff") format("woff");font-style:normal;font-weight:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
@font-face{font-family:"GeForce";src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce_bold-webfont.eot");src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce_bold-webfont.eot?#iefix") format("embedded-opentype"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce_bold-webfont.woff") format("woff");font-style:normal;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
@font-face{font-family:"DINPro";src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINWebPro.eot");src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINWebPro.eot?#iefix") format("embedded-opentype"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINWebPro.woff") format("woff");font-style:normal;font-weight:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
@font-face{font-family:"DINPro";src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINWebPro-Bold.eot");src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINWebPro-Bold.eot?#iefix") format("embedded-opentype"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINWebPro-Bold.woff") format("woff");font-style:normal;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
@font-face{font-family:"DINPro";src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINWebPro-Light.eot");src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINWebPro-Light.eot?#iefix") format("embedded-opentype"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINWebPro-Light.woff") format("woff");font-style:normal;font-weight:lighter;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
@font-face{font-family:"DINPro-Regular";src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINPro-Regular.eot");src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINPro-Regular.eot?#iefix") format("embedded-opentype"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINPro-Regular.woff") format("woff"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINPro-Regular.ttf") format("truetype");-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
@font-face{font-family:"DINPro-Light";src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINPro-Light.eot");src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINPro-Light.eot?#iefix") format("embedded-opentype"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINPro-Light.woff") format("woff"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINPro-Light.ttf") format("truetype");-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
@font-face{font-family:"DINWebPro-Medium";src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINWebPro-Medium.eot");src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINWebPro-Medium.eot?#iefix") format("embedded-opentype"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/DINWebPro-Medium.woff") format("woff");-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

.navBar {

}

.all {
    display: flex;
    border: rgb(0, 0, 0) solid 5;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-width: 100%;
    margin: 0px auto;
    background-color: #eee; 
}

a:link {
    color:#76b900;
}

a:visited {
    color:#76b900;
}

a:hover {
    color: #76b900;
  }

  a:active {
    color: #76b900;
  }


  
.banner {
    display: flex;
    border: rgb(0, 0, 0) solid 5;
}

.box {
    color: rgb(199, 20, 20);
    background-color: khaki;
    font-size: 580px;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    justify-content: center;
    justify-self: center;
    max-width: 100%;
    /* max-width: 1280px; */
    flex-wrap: wrap;
}

/* .img1 {
    display: flex;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/homepage/mfg/gtc22-spring-web-nv-com-wmfg-reg-2560x580-d@1x.jpg); */
    /* max-width: 100%;
}*/

.main-content {
    display: flex;
    flex-direction: column;
    max-width: 1025px;
    align-items:flex-start;
}

.tile {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding-bottom: 10px;
    border: 0px;
    margin: 23px 30px 44px 30px;
}

.tile-pic {
    display: flex;
    width: 295px;
    height: 166px;

}

.shop {
    display: flex;
    border: rgb(250, 1, 196) solid 5px;
    /* justify-content: center; */
    flex-direction: row;
    width: 100%;    
}

.gaming {
    display: flex;
    border: rgb(0, 0, 0) solid 5px;
    flex-direction: row;
    width: 100%;
}

.lNews {
    display: flex;
    border: rgb(0, 0, 0) solid 5px;
    flex-wrap: wrap;
    flex-direction: row;
}

.sNews{
    display: flex;
    width: 15%;
    border: 5px solid black;
    padding-bottom: 10px;
    border: 0px;
    margin: 23px 30px 44px 30px;
}

img {
    display: flex;
    border: red solid 5px;
    width: auto;
    max-height: 580px;
    
}
/* .carousel-banner {
    display: flex;
    height: fit-content;
    border: black solid 5pt;
} */

/* Hero (carousel) images animation --START--*/
  
#carousel-banner img {
    position: relative;
    left: auto;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

}

@keyframes cf3FadeInOut {
0% {
opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#carousel-banner img.pic {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
}
/* Hero (carousel) images animation --END-- */

.footer, .footer-wrapper, .page-footer-links, .page-footer-links-title, .page-footer-links-list, .co-info, .get-inv, .news, .subscribe, .social {
    display: flex;
    /* border: rgb(0, 0, 0) solid 5px; */
    color: white;
    border-bottom: white 1.500px;
    padding-bottom: 12px;
    background-color: black;
}

.footer {
    flex-direction: column;
    width: 100%;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    width: 33.33%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.page-footer-links {
    display: flex;
    width: 33.33%;
    color: #76b900;
    padding:0;
    margin-bottom:50px;
    margin-top:10px;
}

.contacts {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 50%;
}

.page-footer-links-title {
    
}

.page-footer-links-list {
    
}

.co-info, .get-inv, .news {
    
}

.global-footer-container {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: white;
    padding: 30px;
}

ul.global-footer__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.global-footer__links {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    color:#1a1a1a;
    font-weight:normal;
    font-size:16px;
    line-height:30px;
    font-family:DINPro,Helvetica,Arial,Sans-Serif;
    -webkit-padding-start:30px;
    -webkit-margin-before:7px;
    -webkit-margin-after:7px
}

.global-footer__copyright {
    font-size:12px;
    line-height:16px;
    color:#666;
    clear:both
}

.global-footer-logo {
    display: flex;
    width: 330px;
    height: 60px;
    margin: 0 auto;
    /* display: block; */
    float: left;
    margin-bottom: 15px;
}

.global-footer__region__label{
    display: flex;
    float: right;
    width: 50%;
}